#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  opacity: 0.6;
  transition: padding .3s ease-in-out;
}

.card:hover {
  opacity: 1;
  cursor: pointer;
  padding: 0 !important;
}