#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card {
  opacity: 1;
  transition: padding .3s ease-in-out;
}

.popup {
  background: yellow !important;
}

@media(hover:hover) {
  .card {
    opacity: 0.7;
    transition: padding .3s ease-in-out;
  }

  .card:hover {
    opacity: 1;
    cursor: pointer;
    padding: 0 !important;
  }
}

@media(max-width: 768px) {
  .logo {
    display: none;
  }
}